/*
mój arkusz styli, białe litery na ciemnoczerwonym tle
*/

body {
    background-color: #881111;
    color: #fff;
    /* margin: 40px; */

    xpadding: 50px;
    /* chwilowo możemy wyłączyć pojedynczą własność poprzez "zepsucie jej" np. przez dopisanie x na początku nazwy */
}

/*
h1 { 
    font-size: 10pt;
}
*/
